Package: me.nixuge.networkmanager
Name: NetworkManager
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 1.3.0
Architecture: iphoneos-arm
Description: Force 2G/3G/LTE connection from the Control Center
Maintainer: Nixuge
Author: NoisyFlake, Nixuge
Section: Control Center (Modules)
